.footer-top
  %p.text-mge Rider's Garageの機能
  .footer-separator
  .FeatureBox
    .Feature1
      .Feature1-a
        .Feature1-a--box
          %p 1.
        .Feature1-a--boxes
          %p.Feature1-a--boxes--text 出品手数料
          %p.Feature1-a--boxes--texts 無料！
      .Feature1-b
        = image_tag src="material/6e1bf9.jpg", width:"300", height:"250",class: "Feature1-b--image"
        -# %img{:src => "/assets/6e1bf9.jpg", width:"300", height:"250", class: "Feature1-b--image"}/
      %p.Feature1-c オークションと違って出品手数料無料！<br>会員登録、月会費などその他の費用も<br>かかりません。
    .Feature2
      .Feature2-a
        .Feature2-a--box
          %p 2.
        .Featur2-a--boxes
          %p.Feature2-a--boxes--text
          %p.Feature2-a--boxes--texts
      .Feature2-b
        = image_tag src="material/sdfdefdd.jpeg", width:"300", height:"250",class: "Feature2-b--image"
      %p.Feature2-c 最大3%でお得に出品&購入！
    .Feature3
      .Feature3-a
        .Feature3-a--box
          %p 3.
        .Featur3-a--boxes
          %p.Feature3-a--boxes--text シンプル
          %p.Feature3-a--boxes--texts で使いやすい！
      .Feature3-b
        = image_tag src="material/name.jpg", width:"300", height:"250",class: "Feature3-b--image"
      %p.Feature3-c 商品代金を一度Rider’s Garageが<br>お預かりし、取引が完了したら出品者に<br>お渡しする仕組みです。
