.footer-bottom
  %ul.listTerms
    %li.listTerms__rules
      %a.listTerms__rules--links{:href => "＃"} 利用規約
    %li.listTerms__rules
      %a.listTerms__rules--link{:href => "＃"} プライバシーポリシー
    %li.listTerms__rules
      %a.listTerms__rules--link{:href => "＃"} 特定商取引に関する表記
    %li.listTerms__rules
      %a.listTerms__rules--link{:href => "＃"} 運営会社