* {
  box-sizing: border-box;
}

.contents{
  height: 100%;
  width: 100vw;
  background-color: #FFFFFF;
  
  &__body{
    width: 100%;
    height: 100%;
    background-color: #F5F5F5;
    display: flex;
    &__side{
      width: 40%;
      height: 100%;
      padding-top: 30px;
      &--1{
        margin-left: 40%;
        .mypage{
          font-weight: bold;
          width: 45%;
          height: 20%;
        }
        .box{
          width: 70%;
          height: 60px;
          background-color: white;
          border: 1px solid #DDDDDD;
          &__letter{
            font-size: 15px;
            padding-left: 13px;
            padding-top: 4px;
            color: #555555;
          }
        }
      }
      &--2{
        margin-left: 40%;
        margin-top: 40px;
        .mypage{
          font-weight: bold;
          width: 45%;
          height: 20%;
        }
        .box{
          width: 70%;
          height: 60px;
          background-color: white;
          border: 1px solid #DDDDDD;
          &__letter{
            font-size: 15px;
            padding-left: 13px;
            padding-top: 4px;
            color: #555555;
          }
        }
      }
      &--3{
        margin-left: 40%;
        margin-top: 40px;
        .mypage{
          font-weight: bold;
          width: 45%;
          height: 20%;
        }
        .box{
          width: 70%;
          height: 60px;
          background-color: white;
          border: 1px solid #DDDDDD;
          &__letter{
            font-size: 15px;
            padding-left: 13px;
            padding-top: 4px;
            color: #555555;
          }
        }
      }
      &--4{
        margin-left: 40%;
        margin-top: 40px;
        .mypage{
          font-weight: bold;
          width: 45%;
          height: 20%;
        }
        .box{
          width: 70%;
          height: 60px;
          background-color: white;
          border: 1px solid #DDDDDD;
          &__letter{
            font-size: 15px;
            padding-left: 13px;
            padding-top: 4px;
            color: #555555;
          }
        }
      }
    }
    &__input-list{
      width: 50%;
      height: 90%;
      background-color: #F5F5F5;
      padding-top: 30px;
      &__form{
        height: 100%;
        


        .product-name{
          height: 100px;
          display: flex;
          margin-left: 20px;
          .letter--1{
            font-size: 17px;
            font-weight: bold;
            margin-top: 5px;
          }
          .letter--2{
            font-size: 14px;
            color: red;
            margin-left: 10px;
            margin-top: 8px;
          }
          .form--text{
            width: 68%;
            height: 50px;
            margin-left: 18%;
            padding-left: 8px;
            font-size: 15px;
            border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
            border: 2px solid #DCDCDC;
          }
        }
        .introduction{
          height: 180px;
          display: flex;
          margin-left: 20px;
          &--letter1{
            font-size: 16px;
            font-weight: bold;
            margin-top: 5px;
          }
          &--letter2{
            font-size: 14px;
            color: red;
            margin-left: 10px;
            margin-top: 8px;
          }
          &__form-area{
            width: 68%;
            height: 140px;
            margin-left: 17%;
            padding: 8px 8px;
            font-size: 15px;
            border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
            border: 2px solid #DCDCDC;
          }
        }
        .form-separator{
          border-bottom: 1px solid #ddd;
        }
        .status{
          height: 60px;
          display: flex;
          margin-left: 20px;
          margin-top: 30px;
          .letter--1{
            font-size: 17px;
            font-weight: bold;
            margin-top: 5px;
          }
          .letter--2{
            font-size: 14px;
            color: red;
            margin-left: 10px;
            margin-top: 8px;
          }
          #item_status_id{
            width: 68%;
            height: 50px;
            margin-left: 15%;
            padding-left: 8px;
            font-size: 15px;
            border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
            border: 2px solid #DCDCDC;
            color: #696969;
          }
        }
        .brand{
          height: 60px;
          display: flex;
          margin-left: 20px;
          margin-top: 20px;
          .letter--1{
            font-size: 17px;
            font-weight: bold;
            margin-top: 5px;
          }
          .letter--3{
            font-size: 14px;
            color: #555555;
            margin-left: 10px;
            margin-top: 8px;
          }
          .brand--text{
            width: 68%;
            height: 50px;
            margin-left: 15%;
            padding-left: 8px;
            font-size: 15px;
            border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
            border: 2px solid #DCDCDC;
            color: #696969;
          }
        }
        .category{
          height: 140px;
          display: flex;
          margin-left: 20px;
          margin-top: 20px;
          .letter--1{
            font-size: 17px;
            font-weight: bold;
            margin-top: 5px;
          }
          .letter--2{
            font-size: 14px;
            color: red;
            margin-left: 10px;
            margin-top: 8px;
          }
          .category_choose{
            width: 68%;
            height: 100px;
            margin-left: 13%;
            #parent_category{
              width: 100%;
              height: 50px;
              padding-left: 8px;
              font-size: 15px;
              border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
              border: 2px solid #DCDCDC;
              color: #696969; 
            }
            #child_category{
              width: 100%;
              height: 50px;
              padding-left: 8px;
              margin-top: 5px;
              font-size: 15px;
              border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
              border: 2px solid #DCDCDC;
              color: #696969;
            }
          }
        }
        .delivery{
          height: 60px;
          display: flex;
          margin-left: 20px;
          margin-top: 30px;
          .letter--1{
            font-size: 17px;
            font-weight: bold;
            margin-top: 5px;
          }
          .letter--2{
            font-size: 14px;
            color: red;
            margin-left: 10px;
            margin-top: 8px;
          }
          #item_delivery_fee_id{
            width: 68%;
            height: 50px;
            margin-left: 13%;
            padding-left: 8px;
            font-size: 15px;
            border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
            border: 2px solid #DCDCDC;
            color: #696969;
          }
        }
        .shipping{
          height: 60px;
          display: flex;
          margin-left: 20px;
          margin-top: 20px;
          .letter--1{
            font-size: 17px;
            font-weight: bold;
            margin-top: 5px;
          }
          .letter--2{
            font-size: 14px;
            color: red;
            margin-left: 10px;
            margin-top: 8px;
          }
          #item_shipping_date_id{
            width: 68%;
            height: 50px;
            margin-left: 13%;
            padding-left: 8px;
            font-size: 15px;
            border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
            border: 2px solid #DCDCDC;
            color: #696969;
          }
        }
        .prefecture{
          height: 100px;
          display: flex;
          margin-left: 20px;
          margin-top: 20px;
          .letter--1{
            font-size: 17px;
            font-weight: bold;
            margin-top: 5px;
          }
          .letter--2{
            font-size: 14px;
            color: red;
            margin-left: 10px;
            margin-top: 8px;
          }
          #item_prefecture_id{
            width: 68%;
            height: 50px;
            margin-left: 13%;
            padding-left: 8px;
            font-size: 15px;
            border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
            border: 2px solid #DCDCDC;
            color: #696969;
          }
        }
        .price{
          height: 80px;
          display: flex;
          margin-left: 20px;
          margin-top: 20px;
          .letter--1{
            font-size: 17px;
            font-weight: bold;
            margin-top: 5px;
          }
          .letter--2{
            font-size: 14px;
            color: red;
            margin-left: 10px;
            margin-top: 8px;
          }
          #price_calc{
            width: 68%;
            height: 50px;
            margin-left: 17%;
            padding-left: 8px;
            font-size: 15px;
            border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
            border: 2px solid #DCDCDC;
            color: #696969;
          }
        }
        .price__charge{
          height: 40px;
          display: flex;
          margin-left: 20px;
          justify-items: center; 
          &--box{
            width: 280px;
          }
          &--tax{
            font-size: 15px;
            width: 530px;
          }
        }
        .price__profit{
          height: 50px;
          display: flex;
          margin-left: 20px;
          &--box{
            width: 280px;
          }
          &--tax{
            font-size: 15px;
            width: 530px;
          }
          &--line{
            width: 30px;
          }
        }
        .form-post{
          height: 180px;
          width: 100%;
          margin-top: 50px;
          &--send{
            width: 50%;
            margin-left: 23%;
            height: 45px;
            background-color: #FFFFFF;
            border: none;
            border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
            border: 1px solid #c5c5c5;
            
          }
        }
      }
    }
  }
}




//レビュー表示のCSS
.item-image{
  height: 230px;
  width: 210px;
  border: 1px solid #eee;
  margin-right: 10px;
  .item-image__content{
    padding-top: 10px;
    height: 190px;
    .item-image__content--icon{
      height: 180px;
      .picture{
        height: 180px;
      }
    }
  }
  .item-image__operetion{
    height: 40px;
    .item-image__operetion--delete{
      height: 40px;
      color: #00b0ff;
      cursor: pointer;
      padding-top: 5px;
      text-align: center;
      border: 1px solid #eee	;
      background-color: #EEEEEE;
    }
  }
}


.input-list__image{
  height: 310px;
  width: 100%;
  display: flex;
  .input-list_images{
    height: 230px;
    width: 210px;
    margin-right: 10px;
  }
  .input-list__image-1{
    height: 230px;
    width: 210px;
    background-color: white;
    border: 1px dashed #DCDCDC;
    #image-icon{
      color: #DCDCDC;
      font-size: 70px;
      margin-left: 32%;
      margin-top: 35%;
    }
    #image-icon:hover{
      opacity: 0.5;
      color: #FF0000;
    }
  }
}
.input-list__image-2{
  display: none;
}